select.show{
  display: block;
}

#instructions{
  overflow-y: scroll;
}

.card .card-title{
  font-size: 32px;
  font-weight: 400;

}

.card-content p{
  font-size: 16px;
}

#destinationCardinstructions{
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}


#map{
  height: 800px;
  width: 65%;
  display: inline-block;
  padding: 20px;
  margin: 30px;
}

#instructions{
  height: 800px;
  width: 30%;
  display: inline-block;
  padding: 20px;
  margin: 20px;

}

#mapRadio{
  width: 22%;
}

#mapRadio input{
  position: relative;
  opacity: 1;
  pointer-events: auto;
  margin-left: 30px; 

}

#waypointButton{
  display: inline-block;
  padding: 20px;
  margin: 30px;
  width: 20%;
}

#newStartButton{
  display: inline-block;
  padding: 20px;
  margin: 30px;
  width: 20%;
}

h6{
  font-weight: 400;
}